/* CSS Document */
body {
    margin:0px;
    padding:0px;
    background:url(../images/third.jpg) repeat left top;
    font-size: 15px;
    }
div, table, tr, td, a, form, input {
    margin:0px;
    padding:0px;

    }
.tab{
     width: 80%;
}
a {
    color:#072FCF;
    text-decoration:underline;
    }
a:hover {
    color:#072FCF;
    text-decoration:none;
    }
.wrapper {
    margin:0px auto;
    padding:0px;
    width:1170px;
    overflow:hidden;
    }
.warpper-top {
    margin:0px;
    padding:0px;
    width:1170px;
    float:left;
    }
.top-sh1 {
    margin:0px;
    padding:0px;
    height:28px;
    background:url(../images/top-sh-1.png) no-repeat center bottom;
    width:1170px;
    float:left;
    }
.banner-area {
    margin:0px;
    padding:0px;
    width:1170px;
    height:50px;
    float:left;
    }

.banner-bg1 {
    margin:0px;
    padding:0px;
    width:1160px;
    float:left;
    height:306px;
    background:url(../images/banner-bg-1.png) repeat-x left top;
    }
.banner-txt {
    margin:0px;
    padding:0px;
    width:1170px;
    float:left;
    height:249px;
    }
.banner-txt-left {
    margin:0px;
    padding:0px;
    width:473px;
    float:left;
    }
.banner-txt-right {
    margin:0px;
    padding:0px;
    width:690px;
    float:left;
    }
h1 {
    margin:0px;
    padding:10px 0px 0px 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    text-decoration:none;
    color:rgb(85,104,1);
    font-weight:Bold;
    line-height:50px;
    text-transform:uppercase;
    }
h1.hdng-txt1a span {
    font-family:Arial, Helvetica, sans-serif;
    font-size:48px;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    }
p.txt-1 {
    margin:0px;
    padding:112px 35px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#333e04;
    font-weight:normal;
    line-height:18px;
    }
.nav-area {
    margin:0px;
    padding:0px;
    width:1170px;
    height:46px;
    float:left;
    background:maroon;
    border-top:1px solid #556801;
    }
.nav-sh {
    margin:0px;
    padding:0px;
    background:rgb(255,255,255);
    width:1170px;
    height:10px;
    float:left;
    }
ul.navigation {
    margin:0px;
    padding:0px 0px 0px 18px;
    list-style:none;
    }
ul.navigation li {
    margin:0px;
    padding:0px 0px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#b2cd47;
    line-height:46px;
    text-align:center;
    font-weight:bold;
    float:left;
/*    background: red no-repeat right top;*/
    background:url(../images/nav-divider.jpg) no-repeat right top;
    display:block;
    }
ul.navigation li a {
    margin:0px;
    padding:0px 35px 0px 35px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    line-height:46px;
    text-align:center;
    font-weight:bold;
    background:none;
    display:block;
    }
ul.navigation li a:hover {
    margin: 0px;
    padding:0px 35px 0px 35px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:white;
    line-height:46px;
    text-align:center;
    font-weight:bolder;
    background: black;
/*    background:url(../images/nav-hover-bg.jpg) repeat-x left top;*/
    display:block;
    }
.warpper-mid {
    margin:0px;
    padding:20px 20px;
    width:1170px;
    float:left;
    background:darkseagreen;
    }
.mid-gap {
    margin:0px;
    padding:0px;
    width:9px;
    float:left;
    font-size:0px;
    line-height:0px;
    }
.mid-left {
    margin:0px;
    padding:0px;
    width:842px;
    float:left;
    }
.mid-right {
    margin:0px;
    padding:0px;
    width:288px;
    float:left;
    }
.topround-bg1 {
    margin:0px;
    padding:0px;
    background:url(../images/topround-sh-1.jpg) no-repeat left bottom;
    width:288px;
    height:20px;
    font-size:0px;
    line-height:0px;
    float:left;
    }
.midround-bg1 {
    margin:0px;
    padding:0px;
    background:url(../images/midround-sh-1.jpg) repeat-y left top;
    width:288px;
    float:left;
    }
.mainmenu ul {
    margin-bottom: 15px;
    list-style-type: none;
    }
.mainmenu ul li {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #3B6B03;
    margin-left: 15px;
    background-image: url(../images/bullet.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 35px;
    }
.mainmenu ul li a {
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    }
.mainmenu ul li a:hover {
    text-decoration: underline;
    }
.botround-bg1 {
    margin:0px;
    padding:0px;
    background:url(../images/bottomround-sh-1.jpg) no-repeat left top;
    width:288px;
    height:20px;
    font-size:0px;
    line-height:0px;
    float:left;
    }
h4 {
    margin:0px;
    padding:0px 0px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
    text-decoration:none;
    color:#556801;
    font-weight:normal;
    line-height:26px;
    }
h2 {
    margin:0px;
    padding:0px 0px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    text-decoration:none;
    color:#ed1c24;
    font-weight:bold;
    line-height:34px;
    }
h2 span {
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    text-decoration:none;
    color:#779102;
    font-weight:normal;
    }
h3 {
    margin:0px;
    padding:0px 0px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
    text-decoration:none;
    color:#ed1c24;
    font-weight:bold;
    line-height:30px;
    }
h3 span {
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
    text-decoration:none;
    color:#779102;
    font-weight:normal;
    }
p.txt-2 {
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#333333;
    font-weight:normal;
    line-height:18px;
    }
ul.item-1 {
    margin:0px;
    padding:10px 0px 0px 30px;
    list-style:none;
    }
ul.item-1 li {
    margin:0px;
    padding:0px 0px 18px 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#333333;
    font-weight:normal;
    line-height:18px;
    background:url(../images/bullet-1.jpg) no-repeat;
    background-position:0px 6px;
    }
ul.readmore-1 {
    margin:0px;
    padding:10px 0px 0px 30px;
    list-style:none;
    }
ul.readmore-1 li {
    margin:0px;
    padding:2px 0px 5px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    line-height:18px;
    background:url(../images/readmore-bg1.jpg) no-repeat left top;
    overflow:hidden;
    }
ul.readmore-1 li a {
    margin:0px;
    padding:0px 11px 0px 11px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    float:right;
    }
ul.readmore-1 li a:hover {
    text-decoration:none;
    color:#556801;
    font-weight:bold;
    float:right;
    }
.copyright {
    border:0px;
    height:1px;
    width:1px;
    }
.warpper-bot {
    margin:0px;
    padding:15px 0px 15px 0px;
    width:1170px;
    float:left;
    background:maroon;
    }
.footer-left {
    margin:0px;
    padding:0px;
    width:600px;
    float:left;
    }
.footer-right {
    margin:0px;
    padding:0px;
    height:10px;
    width:303px;
    float:left;
    }
ul.footer-nav {
    margin:0px;
    padding:3px 0px 0px 25px;
    list-style:none;
    }
ul.footer-nav li {
    margin:0px;
    padding:0px 10px 0px 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#b2cd47;
    line-height:12px;
    text-align:center;
    font-weight:normal;
    border-left:1px solid #b2cd47;
    float:left;
    display:block;
    }
ul.footer-nav li a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#b2cd47;
    font-weight:normal;
    }
ul.footer-nav li a:hover {
    text-decoration:none;
    color:#fff;
    font-weight:normal;
    }
p.footer-txt {
    margin:0px;
    padding:0px 0px 0px 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    text-decoration:none;
    color:#fff;
    line-height:18px;
    font-weight:bolder;
    }
.footer-link {
    color:#d7f608;
    text-decoration:none;
    }
.footer-link:hover {
    color:#ccff99;
    text-decoration:underline;
    }
.btnlogin{
    width: 300px;
    text-align:center;
    width: 405px;
    height: 25px;
    background:yellow;
}
span{
    color: red;
}
label{
        text-align: left;
        font-size: 40px;
        color: blue;
            }
#eff{
    animation: e 5s ease-in-out 0s infinite alternate running;
    font-size: 3em;
    display: inline-block;
}
.eff1{
    animation: e1 3s ease-in-out 0s infinite alternate running;
    font-size: 1em;
    display: inline-block;
}
.eff2{
    animation: e2 3s ease-in-out 3s infinite alternate running;
    font-size: 1em;
    display: inline-block;
}
.eff3{
    animation: e3 3s ease-in-out 6s infinite alternate running;
    font-size: 1em;
    display: inline-block;
}
.eff4{
    animation: e4 3s ease-in-out 9s infinite alternate running;
    font-size: 1em;
    display: inline-block;
}
.eff5{
    animation: e5 10s ease-in-out 12s infinite alternate running;
    display: inline-block;
}
.joblisttbl{
    color: #11044d;
    padding-bottom: 3px;
    font-size: 15px;
    border: 5px solid maroon;
    border-collapse: collapse;
    align-content: center;
    background: lightseagreen;
    width: 80%;
}
 .joblisttbl tr, .joblisttbl th, .joblisttbl td{
    border: 4px solid #11044d;
    text-align: center;
}
.joblisttbl th{
    background: red;
}
@keyframes e{
    25%{
        color: cyan;
    }
    50%{
        color: magenta;
    }
    75%{
        color: yellow;
    }
    100%{
        color: white;
    }
}
@keyframes e1{
    25%{
        color: cyan;
    }
    50%{
        color: magenta;
    }
    75%{
        color: yellow;
    }
    100%{
        color: black;
        transform: translate(0px, 0px) scale(2);
    }
}
@keyframes e2{
    25%{
        color: magenta;
    }
    50%{
        color: yellow;
    }
    75%{
        color: black;
    }
    100%{
        color: cyan;
        transform: translate(0px, 0px) scale(2);
    }
}
@keyframes e3{
    25%{
        color: yellow;
    }
    50%{
        color: black;
    }
    75%{
        color: cyan;
    }
    100%{
        color: magenta;
        transform: translate(0px, 0px) scale(2);
    }
}
@keyframes e4{
    25%{
        color: black;
    }
    50%{
        color: cyan;
    }
    75%{
        color: magenta;
    }
    100%{
        color: yellow;
        transform: translate(0px, 0px) scale(2);
    }
}
@keyframes e5{
    25%{
        color: black;
    }
    50%{
        color: cyan;
    }
    75%{
        color: magenta;
    }
    100%{
        color: yellow;
    }
}
hr{
    width: 90.38%;
    margin: 0px;
}
.JobDetail{
    font-size: 30px;
    color: darkgreen;
}
